<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ shop.name }}</title>
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
</head>
<body class="template-password">
  <main class="password-page" role="main">
    <div class="password-page__inner container">
      <h1 class="password-page__title">{{ shop.name }}</h1>
      {{ content_for_layout }}
    </div>
  </main>
</body>
</html>
